@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:
    local(''),
    url('fonts/roboto-v30-latin-ext_latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('fonts/roboto-v30-latin-ext_latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    local(''),
    url('fonts/roboto-v30-latin-ext_latin-500.woff') format('woff');
}
