<div class="bg-primary">
  <wsk-launchpad-top-level-navigation
    [menuItems]="menuItems"
  ></wsk-launchpad-top-level-navigation>
</div>

<wsk-launchpad [groups]="groups">
  <ng-template wskTemplate="title-subtitle" let-config>
    <div
      class="text-base md:text-lg truncate mat-mdc-card-title"
      matTooltip="{{ config.title }}"
    >
      {{ config.title }}
    </div>

    <div
      class="text-sm md:text-base truncate mat-mdc-card-subtitle"
      matTooltip="{{ config.subtitle }}"
    >
      {{ config.subtitle }}
    </div>
  </ng-template>

  <ng-template wskTemplate="icon" let-config>
    <mat-icon>{{ config.icon }}</mat-icon>
  </ng-template>
</wsk-launchpad>
