@use '@angular/material' as mat;
@import 'styles/material';
@import 'styles/roboto';
@import 'styles/variables';

@include mat.elevation-classes();
@include mat.app-background();

@tailwind base;
@tailwind components;
@tailwind utilities;

$webskills-primary: mat.m2-define-palette($webskills-blue, 800);
$webskills-accent: mat.m2-define-palette($webskills-cyan, 500);
$webskills-warn: mat.m2-define-palette($webskills-warn, 600);

$webskills-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $webskills-primary,
      accent: $webskills-accent,
      warn: $webskills-warn,
    ),
  )
);

@include mat.all-component-themes($webskills-theme);

.mat-drawer-side {
  border: none;
}

.isDragOver {
  background-color: #edf5fc;
  border-radius: 0.75rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
